# Ignore and exlude specific files
*.suo
*.user
*.sdf
*.pdb
*.dll
*.exe
*.lib
*.obj
*.idb
*.pch
*.ilk
*.aps
*.exp
*.ipch
*.db
*.bin
*.log
*.vsidx
*.tlog
*.lastbuildstate
*.recipe
.vs/
.Release/
.Debug/
.x64/
.hMailServer/.Debug/
.hMailServer/.Release/
.hMailServer/.x64/
